@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

html{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
}

body{
    background-image: url('https://github.com/fiandinw/order-summary-component/raw/main/images/pattern-background-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.card-container{
    text-align: center;
    height: 90vh;
    position: relative;
}

.card{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    width: 18em;
    min-height: 32em;
    /* margin: 0 auto; */
    background-color: hsl(225, 100%, 98%);
    border-radius: 1em;
}

.card img{
    width: 100%;
    border-radius: 1em 1em 0em 0em;
}

.card-content{
    padding: 1.45em;
}

.card-content h1{
    margin: 0;
    font-size: 1.5em;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}

.card-content p{
    color: hsl(224, 23%, 55%);
    margin: 1em 0;
}

.plan-container{
    margin: 2em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.plan-container img{
    width: 3em;
    height: 3em;
}

.plan-title{
    font-weight: 900;
    color: hsl(223, 47%, 23%) !important;
}

.plan-details p{
    margin: 0.25em;
}

.card-content button{
    border: 0;
    padding: 1em;
    border-radius: 0.5em;
    width: 100%;
    background-color: hsl(245, 75%, 52%);
    color: hsl(225, 100%, 98%);
    font-weight: 900;
    cursor: pointer;
    box-shadow: 0em 1em 1.2em hsl(224, 23%, 75%);
    transition: all 0.4s;
}

.card-content button:hover{
    background-color: hsl(245, 75%, 62%);
}

.cancel-order{
    display: inline-block;
    margin: 1.5em 0em 0em 0em;
    text-decoration: none;
    font-weight: 900;
    color: hsl(224, 23%, 55%);
}